<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Sign up</h2>

        <form method="post" ng-submit="vm.forgotPassword()" name="forgotPasswordForm">
          <div class="form-group has-feedback" ng-class="{ 'has-error' : forgotPasswordForm.emailOrUsername.$invalid && forgotPasswordForm.emailOrUsername.$dirty }">
            <input class="form-control input-lg" type="text" name="emailOrUsername" ng-model="vm.emailOrUsername" placeholder="Email or Username" required autofocus>
            <span class="ion-person form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="forgotPasswordForm.emailOrUsername.$dirty" ng-messages="forgotPasswordForm.emailOrUsername.$error">
              <div ng-message="required">You must enter a username or an email.</div>
            </div>
          </div>
          <button type="submit" ng-disabled="forgotPasswordForm.$invalid" class="btn btn-lg btn-block btn-primary">Forgot Password</button>
        </form>

      </div>
    </div>
  </div>
</div>

