<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Lastname</td>
				<td>email</td>
				<td>google</td>
				<td>facebook</td>
				<td>role</td>
				<td>Username</td>
				<td>Password</td>
				<td>telephone</td>
				<td>Mobile</td>
			</tr>
		</thead>
		<tr>
			<td>{{ vm.user.idUser }}</td>
			<td>{{ vm.user.name }}</td>
			<td>{{ vm.user.lastname }}</td>
			<td>{{ vm.user.email }}</td>
			<td>{{ vm.user.google }}</td>
			<td>{{ vm.user.facebook }}</td>
			<td>{{ vm.user.role }}</td>
			<td>{{ vm.user.username }}</td>
			<td>{{ vm.user.password }}</td>
			<td>{{ vm.user.telephone }}</td>
			<td>{{ vm.user.mobile }}</td>
		</tr>
	</table>
</div>
