<p>This is the partial for view 1.</p>

<div ng-controller="View1Ctrl">
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Name</td>
				<td>Age</td>
			</tr>
		</thead>
		<tr ng-repeat="person in people">
			<td>{{ person.id }}</td>
			<td>{{ person.name }}</td>
			<td>{{ person.lastname }}</td>
			<td>{{ person.email }}</td>
			<td>{{ person.role }}</td>
			<td>{{ person.username }}</td>
			<td>{{ person.password }}</td>
			<td>{{ person.telephone }}</td>
			<td>{{ person.mobile }}</td>
		</tr>
	</table>
</div>
